<header><span class="flaticon-042-menu show"></span></header>
    <main>
        <div class="content-menu">
            <li class="li-top"><span class="flaticon-091-file icon">
                    <h4 class="text1">Reportes</h4>
                </span></li>
            <li><span class="flaticon-073-information icon">
                    <h4 class="text2">Incidencias</h4>
                </span></li>
            <li><span class="flaticon-011-user icon">
                    <h4 class="text3">Empleados</h4>
                </span></li>
            <li class="li-bottom"><span class="flaticon-045-logout icon">
                    <h4 class="text4">Cerrar Sesion</h4>
                </span></li>
        </div>