<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card text-center">
                <div class="card-header">

                    <h3>Empleados</h3>
                </div>
                <div class="card-body">
                    <form action="/emp" method="POST" id="form">
                        <div class="form group">
                            <button class="btn btn-success btn-block">
                                Iniciar Acceso
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

user:
{{user.username}}