<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <link rel="stylesheet" href="http://localhost:3000/bootstrap.css" />
    <style>
      .cities {
        background-color: black;
        color: white;
        margin: 20px;
        padding: 20px;
      }
    </style>
  </head>
  <body>
    <div style="margin-top: 75px;" class="container">
      <div class="row">
        <div class="col-sm">
          <img
            src="http://localhost:3000/cecy.png"
            style="float: left;"
            width="200"
            height="200"
          />
          <img
            src="http://localhost:3000/edomex.png"
            style="float: right;"
            width="300"
            height="200"
          />
          <br><br><br><br><br><br><br><br><br><br><br><br>
          Nombre: 
          <br>
          <br>
          
          <table style="width:100%">
            <tr>
              <th>Matricula</th>
              <th>alumno</th>
              <th>descripcion</th>
            </tr>
            <tr>
              <td>Jill</td>
              <td>Smith</td>
              <td>50</td>
            </tr>
            <tr>
              <td>Eve</td>
              <td>Jackson</td>
              <td>94</td>
            </tr>
          </table>
          <H1 text-align: center> Fecha:</H1>
      </div>
    </div>
  </body>
</html>
